.events{
    position: relative;
    padding-bottom: 20px;
    @media (min-width: $tablet-width) {
        max-width: 768px;
    }
    &__title{
        @media (min-width: $mobile-width) {
            font-family: 'font-black';
            font-weight: 900px;
            font-size: 32px;
            line-height: 32px;
            width: 300px;
            padding: 0px 0px 0px 32px;
            margin-top: 0;
            }
        @media (min-width: $tablet-width) {
            font-size: 46px;
            line-height: 46px;
            padding: 0px 150px 0px 100px;
        }
        @media (min-width: $desktop-width) {
        font-size: 48px;
        line-height: 48px;
        width: 827px;
        margin: 0px;
        padding: 20px 0px 48px 242px;

    }
}
    &__text{
        @media (min-width: $mobile-width) {
            margin: 0;
            font-family: 'font-medium';
            font-weight: 500px;
            font-size: 16px;
            line-height: 19.2px;
            width: 311px;
            padding-left: 32px;
            padding-bottom: 46px;
        }
        @media (min-width: $tablet-width) {
            width: 330px;
            font-size: 18px;
            padding: 0px 0px 61px 100px;
            line-height: 24px;
        }
        @media (min-width: $desktop-width) {
        width: 440px;
        font-size: 24px;
        line-height: 28.8px;
        margin-left: 242px;
        margin-bottom: 70px;
        padding: 0px;
    }
}

    &__pictures{
        @media (min-width: $mobile-width) {
            display: none;
        }
        @media (min-width: $tablet-width) {
            margin-left: 50px;
            display: grid;
            grid-template-columns: 320px 320px;
        }
        @media (min-width: $desktop-width) {
        grid-template-columns: 500px;
        margin-left: 242px;
        width: 599px;
    }
}

    &__picture{
        @media (min-width: $tablet-width) {
            width: 320px;
        }
        @media (min-width: $desktop-width) {
            width: 472px;
            padding-bottom: 8.11px;
    }
}
&__slider{
    @media (min-width: $mobile-width) {
        margin-bottom: 10px;
        height: 343px;
        margin-left: 32px;
    }
    @media (min-width: $tablet-width) {
        display: none;
    }
}
&__slider-line{
    @media (min-width: $mobile-width) {
        position: relative;
        width: 1372px;
        height: 343px;
        display: flex;
        justify-content: space-around;
        left: 0;
        transition: all ease 1s;
    }
}
&__slider-picture{
    width: 343px;
    padding-left: 16px;
}
&__arrow{
    cursor: pointer;
    margin-left: 10px;
    @media (min-width: $tablet-width) {
        display: none;
    }
}
&__arrows-wrapper{
    margin-left: 120px;
}
}

#upper-pic{
    @media (min-width: $desktop-width) {
    position: absolute;
    top: 180px;
    left: 730px;
    }
}

#lower-pic{
    @media (min-width: $desktop-width) {
    position: absolute;
    top: 660px;
    left: 730px;
    }
}

#geo{
    @media (min-width: $mobile-width) {
        display: none;
    }
    @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        top: 330px;
        left: -65px;
    }
    @media (min-width: $desktop-width) {
    top: 345px;
    left: 135px;
    }
}

#sticks{
    @media (min-width: $mobile-width) {
        position: absolute;
         top: 230px;
        left: 155px;
    }
    @media (min-width: $tablet-width) {
        top: 350px;
        left: 545px;
    }
    @media (min-width: $desktop-width) {
    top: 80px;
    left: 1010px;
    }
}

#coffe{
    @media (min-width: $mobile-width) {
        display: none;
    }
    @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        top: 945px;
        left: 514px;
    }
    @media (min-width: $desktop-width) {
    position: absolute;
    width: 320px;
    top: 960px;
    left: 970px;
}
}

// #arrowLeft{
//     fill: #fff;
// }