@font-face {
    font-family: 'font-regular';
    src: url('fonts/text-regular.woff') format('woff');
}

@font-face {
    font-family: 'font-medium';
    src: url('fonts/text-medium.woff') format('woff');
}

@font-face {
    font-family: 'font-black';
    src: url('fonts/text-black.woff') format('woff');
}