.footer {
    padding-top: 60px;

    a {
        text-decoration: none;
        color: #000;
    }

    &__container {
        display: flex;
        margin-left: 250px;
    }

    &__picture {
        padding-right: 100px;
    }

    &__title {
        font-family: 'font-black';
        font-weight: 900px;
        font-size: 48px;
        line-height: 48px;
        padding-right: 550px;
    }

    &__text {
        font-family: 'font-medium';
        font-weight: 500px;
        font-size: 24px;
        line-height: 28.8px;
        padding-right: 580px;
    }

    &__button {
        cursor: pointer;
        font-family: 'font-medium';
        font-weight: 500px;
        font-size: 24px;
        background-color: rgba(255, 222, 64, 1);
        box-shadow: 0px 0px 45px -10px rgba(255, 222, 64, 1);
        margin: 50px 730px 0px 0px;
        padding-top: 24px;
        padding-right: 48px;
        padding-bottom: 24px;
        padding-left: 48px;
        border-radius: 70px;
    }

    &__politics {
        color: rgba(197, 197, 197, 1);
        font-weight: 400px;
        font-size: 15px;
        line-height: 15.6px;
        margin-top: 111px;
        margin-bottom: 126px;
        margin-left: 420px;
        margin-right: 420px;
    }
}