.plus {
    position: relative;
    &__title {
        @media (min-width: $mobile-width) {
            font-family: 'font-black';
            font-weight: 900px;
            font-size: 32px;
            line-height: 32px;
            width: 300px;
            padding: 0px 0px 0px 32px;
            }
        @media (min-width: $tablet-width) {
            font-size: 46px;
            line-height: 42px;
            padding: 0px 50px 5px 100px;
           }
        @media (min-width: $desktop-width) {
            font-size: 48px;
            line-height: 48px;
            width: 427px;
            margin: 0px;
            padding: 20px 0px 8px 242px;
    }
    }
    &__text {
        @media (min-width: $mobile-width) {
            margin: 0;
            font-family: 'font-medium';
            font-weight: 500px;
            font-size: 16px;
            line-height: 19.2px;
            width: 312px;
            padding-bottom: 24px;
            padding-left: 32px;
        }
        @media (min-width: $tablet-width) {
            width: 412px;
            font-size: 18px;
            padding: 0px 50px 61px 100px;
            line-height: 24px;
        }
        @media (min-width: $desktop-width) {
            width: 420px;
            font-size: 24px;
            line-height: 28.8px;
            margin-left: 242px;
            margin-bottom: 70px;
            padding: 10px 0px 0px 0px;
    }
}
}

.plus-scooter{
    display: none;
    @media (min-width: $desktop-width) {
    display: block;
    width: 720px;
    position: absolute;
    top: -150px;
    left: 557px;
}
}

.tablet{
    display: none;
    @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 85px;
    left: 650px;
    }
}